dnspython==2.1.0
idna==3.3
pip==21.2.4
MarkupSafe==2.0.1
Werkzeug==2.0.2
Jinja2==3.0.3
click==8.0.3
itsdangerous==2.0.1
WTForms==3.0.1
greenlet==1.1.2
Flask==2.0.2
setuptools==58.1.0
SQLAlchemy==1.4.29